    <div class="text-align: center">
        <footer>
            <a href="/api/friends">API Friends List</a> | <a href="https://github.com/BradHemmerick/FriendFinder">GitHub Repo</a>
            <br>
            <br>
            <p>Created by Brad Hemmerick - Copyright {{getCurrentYear}}</p>
        </footer>
    </div>