    <div class="text-align: center">
        <footer>
            <p style="text-align: center"><a href="/api/friends">API Friends List</a> | <a href="https://github.com/BradHemmerick/FriendFinder">GitHub Repo</a></p>
            <br>
            <br>
            <p style="text-align: center">Created by Brad Hemmerick - Copyright {{getCurrentYear}}</p>
        </footer>
    </div>