<form>
            <div class="form-group">
                <label for="name"> Your Name(Required)</label>
                <input type="text" class="form-control" id="name" class="valid" placeholder="EX: John Smith...">
                <label for="name"> Your Picture(Required)</label>
                <input type="text" class="form-control" id="profPic" class="valid" placeholder="Place link here...">
                <hr>
                <h4> Question 1</h4>
                <p>You'd prefer a quiet night at home rather then a night out in town.</p>
                <select id="q1">
                    <option value="1">1 Strongly disagree</option>
                    <option value="2">2</option>
                    <option value="3">3 I have fun either way!</option>
                    <option value="4">4</option>
                    <option value="5">5 Strongly agree</option>
                </select>
                <h4> Question 2</h4>
                <p>Here comes your crush! what do you do?</p>
                <select id="q2">
                    <option value="1">Admire from afar</option>
                    <option value="2">Get nervous and freeze</option>
                    <option value="3">Do nothing and hope they come to you</option>
                    <option value="4">Say Hello</option>
                    <option value="5">Ask them out</option>
                </select>
                <h4> Question 3</h4>
                <p>Using one hand, hold up a random number of fingers. How many did you hold up?</p>
                <select id="q3">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h4> Question 4</h4>
                <p>Generally you are more creative then analytical</p>
                <select id="q4">
                    <option value="1">1 Strongly disagree</option>
                    <option value="2">2 </option>
                    <option value="3">3 I have no clue...</option>
                    <option value="4">4 </option>
                    <option value="5">5 Strongly agree</option>
                </select>
                <h4> Question 5</h4>
                <p>People rarely upset you.</p>
                <select id="q5">
                    <option value="1">1 I get upset/mad pretty easy</option>
                    <option value="2">2 </option>
                    <option value="3">3 Depends on who the person is</option>
                    <option value="4">4 </option>
                    <option value="5">5 It's practically impossible to strike one of my nerves!</option>
                </select>
                <h4> Question 6</h4>
                <p>Someone is waving so you wave back. Turns out they weren't waving at you. How do you feel?</p>
                <select id="q6">
                    <option value="1">1 I'm throughly embarrassed</option>
                    <option value="2">2 I feel slightly stupid, but it'll pass</option>
                    <option value="3">3 Play it off like I was waving at someone else too</option>
                    <option value="4">4 Eh, it happpens</option>
                    <option value="5">5 Darn! I was hoping to make a new friend!</option>
                </select>
                <h4> Question 7</h4>
                <p>You can't seem to relate to other peoples feelings</p>
                <select id="q7">
                    <option value="1">1 Strongly disagree</option>
                    <option value="2">2 </option>
                    <option value="3">3 sometimes</option>
                    <option value="4">4</option>
                    <option value="5">5 Strongly agree</option>
                </select>
                <h4> Question 8</h4>
                <p>Imagine you need to fill a bucket of water. How high do you fill it></p>
                <select id="q8">
                    <option value="1">1 just a little bit</option>
                    <option value="2">2 A quater</option>
                    <option value="3">3 Half</option>
                    <option value="4">4 three fourths</option>
                    <option value="5">5 Full</option>
                </select>
                <h4> Question 9</h4>
                <p>How good of shape are you in?</p>
                <select id="q9">
                    <option value="1">1 Awful</option>
                    <option value="2">2 A little bellow average</option>
                    <option value="3">3 Average</option>
                    <option value="4">4 Above average</option>
                    <option value="5">5 Amazing</option>
                </select>
                <h4> Question 10</h4>
                <p>You can stay calm under pressure</p>
                <select id="q10">
                    <option value="1">1 Strongly disagree</option>
                    <option value="2">2 </option>
                    <option value="3">3 Depends on the situation</option>
                    <option value="4">4 </option>
                    <option value="5">5 Strongly agree</option>
                </select>
            </div>
        </form>