<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center"> Compatibility Survery</h1>
            <hr>
            <p style="text-align: center">See if you are the toast to someone's butter</p>
        </div>
        {{> form}}
        <button id="submitScore" type="submit" class="btn btn-primary btn-lg btn-block" id="submit">
            <span class="glyphicon glyphicon-check"></span>
            Submit</button>
    </div>
    {{> footer}}
</body>
       <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
        <script type="text/javascript">
    $('#submitScore').on('click', (event) => {
        event.preventDefault();
        var userProf = {
            name: $('#name').val().trim()
            picture: $('#profPic').val().trim()
            score: [
                $('#q1').val().trim(), $('#q2').vals().trim(), $('#q3').val().trim(), $('#q4').val().trim(), $('#q5').val().trim(), $('#q6').val().trim(), $('#q7').val().trim(), $('#q8').val().trim(), $('#q9').val().trim(), $('#q10').val().trim()
            ]
        }
        $.post('/api/friends', userProf).done((data) => {
            console.log(data);
            alert('test')
        })
    })
</script>
</html>